.clean {
    padding-top: 133px;
    padding-bottom: 173px;
    background-color: #f7f8fa;
}

.clean__title {
    color: #1d252c;
    font-feature-settings: "liga" off, "clig" off;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 46.6px; /* 116.5% */
    letter-spacing: -0.9px;
    margin-bottom: 15px;
}

.clean__text {
    color: var(--green, #56b280);
    font-feature-settings: "liga" off, "clig" off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.8px; /* 142.5% */
    margin-bottom: 38px;
}

.clean__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 68px;
}

.clean__item {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 24px;
}

.clean__item::before {
    content: "";
    width: 14px;
    height: 14px;
    background-image: url(../images/checkmark.svg);
    position: absolute;
    left: 0;
}

.clean__bold {
    color: #000;
    font-feature-settings: "liga" off, "clig" off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.8px; /* 180% */
}

.clean__deck {
    color: #000;
    font-feature-settings: "liga" off, "clig" off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
}

.clean__link {
    color: #fff;
    text-align: center;
    font-size: 20.645px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
    border-radius: 4px;
    background-color: var(--green, #56b280);
    padding: 8px 44px;
}

.clean__box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
