.pro {
    padding-top: 90px;
    padding-bottom: 125px;
}

.pro__title {
    color: #0b254b;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 57.6px; /* 144% */
    letter-spacing: -0.9px;
    margin-bottom: 15px;
}

.pro__text {
    color: var(--dark-1, #5e6e89);
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.6px; /* 153.333% */
    letter-spacing: 0.1px;
}

.wrapper {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 30px;
}

.pro__bold {
    color: #1d293f;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.6px; /* 172.5% */
    letter-spacing: -0.9px;
    padding-left: 26px;
}

.pro__price {
    display: block;
    color: var(--green, #56b280);
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.6px; /* 138% */
    padding-right: 26px;
}

.pro__item {
    box-shadow: 0px 4px 24px 0px rgba(123, 123, 123, 0.15);
    padding-bottom: 16px;
}

.pro__imgbox {
    width: 100%;
    background-color: #f7f8fa;
    margin-bottom: 10px;
}
